<div class="list-question">
  <div class="w100">
    <ul class="nav nav-tabs pull-left in list-ques-tabs" id="myTab2">
        <li class="active">
            <a data-toggle="tab" href="#q11">
            <span>
                <img class="Ione" src="../../../assets/img/menu_ico_7.png">
                <img class="Itwo" src="../../../assets/img/menu_ico_77.png">                                            
            </span>
            <span class="">List of Questions Asked</span></a>
        </li>
        <li>
            <a data-toggle="tab" href="#q22">
            <span>
                <img class="Ione" src="../../../assets/img/menu_ico_8.png">
                <img class="Itwo" src="../../../assets/img/menu_ico_88.png">                                            
            </span>
            <span class="">Answered Questions</span></a>
        </li>
    </ul>  
    <div id="myTab2" class="tab-content">
        <div class="tab-pane fade active in no-padding-bottom" id="q11">
            <!--s11 contents-->
            <div class="postMList stppd">
                <div class="drop2poz">
                    <div class="Drop2">
                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                            Action  <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu js-status-update pull-right">
                            <li>
                                <a href="javascript:void(0);" id="mt">Remove</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="ag">Archive</a>
                            </li>
                        </ul>
                    </div>  
                </div>  
                <p>Asked-<span>20 Days Ago at 1-1-2017 at 13:01</span></p> 
                <h3>erros on angular cli installation list lazzy routes!</h3>  
                <div class="postMList6 slinsot">
                    <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
                    
                    <p>90.7k Views</p> 
                    <p>100 people Answers</p>
                </div>                        
            </div>
            <div class="postMList stppd">
                <div class="drop2poz">
                    <div class="Drop2">
                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                            Action  <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu js-status-update pull-right">
                            <li>
                                <a href="javascript:void(0);" id="mt">Remove</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="ag">Archive</a>
                            </li>
                        </ul>
                    </div>  
                </div>  
                <p>Asked-<span>20 Days Ago at 1-2-2017 at 13:01</span></p> 
                <h3>erros on angular cli installation list lazzy routes!</h3>  
                <div class="postMList6 slinsot">
                    <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
                        
                    <p>90.7k Views</p> 
                    <p>100 people Answers</p>
                </div>                        
            </div>
            <div class="postMList stppd">
                <div class="drop2poz">
                    <div class="Drop2">
                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                            Action  <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu js-status-update pull-right">
                            <li>
                                <a href="javascript:void(0);" id="mt">Remove</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="ag">Archive</a>
                            </li>
                        </ul>
                    </div>  
                </div>  
                <p>Asked-<span>20 Days Ago at 1-1-2017 at 13:01</span></p> 
                <h3>erros on angular cli installation list lazzy routes!</h3>  
                <div class="postMList6 slinsot">
                    <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
                    
                    <p>90.7k Views</p> 
                    <p>100 people Answers</p>
                </div>                        
            </div>
            <div class="postMList stppd">
                <div class="drop2poz">
                    <div class="Drop2">
                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                            Action  <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu js-status-update pull-right">
                            <li>
                                <a href="javascript:void(0);" id="mt">Remove</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="ag">Archive</a>
                            </li>
                        </ul>
                    </div>  
                </div>  
                <p>Asked-<span>20 Days Ago at 1-2-2017 at 13:01</span></p> 
                <h3>erros on angular cli installation list lazzy routes!</h3>  
                <div class="postMList6 slinsot">
                    <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
                        
                    <p>90.7k Views</p> 
                    <p>100 people Answers</p>
                </div>                        
            </div>
            <div class="w100 text-center more">
                <a>
                <img src="../../../assets/img/more.png">
                </a>
            </div>             
              <!--end of s11 contents-->
        </div><!--end of s11-->
        <div class="tab-pane fade in no-padding-bottom" id="q22">
            <!--s22 contets-->
            <div class="postMList stppd">
                <div class="drop2poz">
                    <div class="Drop2">
                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                            Action  <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu js-status-update pull-right">
                            <li>
                                <a id="mt">Remove</a>
                            </li>
                            <li>
                                <a id="ag">Edit / Update</a>
                            </li>
                        </ul>
                    </div>  
                </div>  
                <p>Answered on-<span>20 Days Ago at 1-1-2017 at 13:01</span></p> 
                <h3>install and update the angular cli to next version</h3>  
                <div class="postMList6 slinsot">
                    <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
                    <p>90.7k Views</p> 
                    <p>100 others Answers</p>
                </div>                        
            </div>
            <div class="postMList stppd">
                <div class="drop2poz">
                    <div class="Drop2">
                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                            Action  <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu js-status-update pull-right">
                            <li>
                                <a href="javascript:void(0);" id="mt">Remove</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="ag">Edit / Update</a>
                            </li>
                        </ul>
                    </div>  
                </div>  
                <p>Answered on -<span>20 Days Ago at 1-2-2017 at 13:01</span></p> 
                <h3>erros on angular cli installation list lazzy routes!</h3>  
                <div class="postMList6 slinsot">
                    <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
                        
                    <p>90.7k Views</p> 
                    <p>100 people Answers</p>
                </div>                        
            </div>
            <div class="postMList stppd">
                <div class="drop2poz">
                    <div class="Drop2">
                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                            Action  <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu js-status-update pull-right">
                            <li>
                                <a id="mt">Remove</a>
                            </li>
                            <li>
                                <a id="ag">Edit / Update</a>
                            </li>
                        </ul>
                    </div>  
                </div>  
                <p>Answered on-<span>20 Days Ago at 1-1-2017 at 13:01</span></p> 
                <h3>install and update the angular cli to next version</h3>  
                <div class="postMList6 slinsot">
                    <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
                    <p>90.7k Views</p> 
                    <p>100 others Answers</p>
                </div>                        
            </div>
            <div class="postMList stppd">
                <div class="drop2poz">
                    <div class="Drop2">
                        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                            Action  <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu js-status-update pull-right">
                            <li>
                                <a href="javascript:void(0);" id="mt">Remove</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="ag">Edit / Update</a>
                            </li>
                        </ul>
                    </div>  
                </div>  
                <p>Answered on -<span>20 Days Ago at 1-2-2017 at 13:01</span></p> 
                <h3>erros on angular cli installation list lazzy routes!</h3>  
                <div class="postMList6 slinsot">
                    <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
                        
                    <p>90.7k Views</p> 
                    <p>100 people Answers</p>
                </div>                        
            </div>
            <div class="w100 text-center more">
                <a>
                <img src="../../../assets/img/more.png">
                </a>
            </div>
            <!--end of s22 contents-->
        </div><!--end of s22-->
    </div><!--end of myTabContent2-->                                                 
  </div><!--w100-->
</div>