<!--start-popularEvents-content-->
<div class="reviewtxt w100">
  <ul class="list-inline city-ul pull-right">
      <li>
          <a data-toggle="tab" href="#s1">
          <span class="">New York</span>
          </a>
      </li>
      <li>
          <a data-toggle="tab" href="#s1">
          <span class="">Los Angles</span>
          </a>
      </li>
      <li>
          <a data-toggle="tab" href="#s1">
          <span class="">Oakland</span>
          </a>
      </li>
      <li>
          <a data-toggle="tab" href="#s1">
          <span class="">Chicago</span>
          </a>
      </li>
      <li>
          <a data-toggle="tab" href="#s1">
          <span class="">Islamabad</span>
          </a>
      </li>
      <li>
          <a data-toggle="tab" href="#s1">
          <span class="">Karachi</span>
          </a>
      </li>
      <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
          more Cities <i class="fa fa-caret-down"></i>
      </button>
  </ul>
</div>
<div class="boxIn_lft">
    <div class="w100">
      <div class="interested w100">
          <h1>Popular Events</h1>
          <div class="w100 mLsz pull-right">
              <input class="postBTN stBTN fl no" type="button" value="Create Event">                                                          
          </div>
          <ul class="list-inline pull-left">
              <li>
              <h5>See Events For</h5>
              </li>
              <li>
                  <a data-toggle="tab" href="#s1">
                  <span class="">Today |</span>
                  </a>
              </li>
              <li>
                  <a data-toggle="tab" href="#s1">
                  <span class="">Tomorrow |</span>
                  </a>
              </li>
              <li>
                  <a data-toggle="tab" href="#s1">
                  <span class="">This Weekend |</span>
                  </a>
              </li>
              <li>
                  <a data-toggle="tab" href="#s1">
                  <span class="">Next Week |</span>
                  </a>
              </li>
              <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                  Jump date >> <i class="fa fa-caret-down"></i>
              </button>
          </ul>
      </div>
        <hr>
      <div class="postMain w100">
          <div class="col-lg-5">
              <div class="panel panel-danger"> 
                  <div class="panel-body ">
                    <a href="#"><img class="pe-img" src="../../../assets/img/pe1.png"></a>
                      <hr>
                      <h3>National Tater Tot Day 2017!</h3>
                      <hr>
                      <h5 class="fa fa-calendar-o">Saturday, Feb 5, 11:30 am--4:00 pm</h5>
                      <h5 class="fa fa-map-marker"><a><span>Spark Social SF -</span></a>- San Francisco</h5>
                      <span>Show Tribute to the Films of Hayao Miyazaki, with works from over 50 </span>  
                    </div>
                    <div class="panel-footer">
                        <a><span>Food & Drink </span></a><p>26 Interested</p>
                    </div>
              </div>
            </div> <!-- /.col-lg-5 --> 
            <div class="col-lg-5">
              <div class="panel panel-danger">
                  <div class="panel-body">
                    <a href="#"><img class="pe-img" src="../../../assets/img/pe2.png"></a>
                    <hr>
                    <h3>Art Show Tribute to the Films</h3>
                    <hr>
                    <h5 class="fa fa-calendar-o">Saturday, Feb 5, 11:30 am--4:00 pm</h5>
                    <h5 class="fa fa-map-marker"><a><span> Drake’s Barrel House  -</span></a>- New York</h5>
                    <span>Art Show Tribute to the Films of Hayao Miyazaki, with works from over 50 </span>     
                    </div>
                    <div class="panel-footer">
                        <a><span>Arts  </span></a><p>8 Interested</p>
                    </div>
              </div>
            </div> <!-- /.col-lg-4 --> 
            <div class="col-lg-5">
              <div class="panel panel-danger">
                
                <div class="panel-body">
                  <div class="w100 store"><a href="#"><img src="img/Ads.png"></a></div>
                  <hr>
                  <h3>National Tater Tot Day 2017!</h3>
                  <hr>
                  <h5 class="fa fa-calendar-o">Saturday, Feb 5, 11:30 am--4:00 pm</h5>
                  <h5 class="fa fa-map-marker"><a><span>Spark Social SF -</span></a>- San Francisco</h5>
                  
                      
                  </div>
                  <div class="panel-footer">
                      <a><span>Food & Drink </span></a><p>26 Interested</p>
                  </div>
              </div>
            </div> <!-- /.col-lg-4 --> 
            <div class="col-lg-5">
            <div class="panel panel-danger">
                
                <div class="panel-body">
                <div class="w100 store"><a href="#"><img src="img/Ads.png"></a></div>
                <hr>
                <h3>National Tater Tot Day 2017!</h3>
                <hr>
                <h5 class="fa fa-calendar-o">Saturday, Feb 5, 11:30 am--4:00 pm</h5>
                <h5 class="fa fa-map-marker"><a><span>Spark Social SF -</span></a>- San Francisco</h5>
                
                    
                </div>
                <div class="panel-footer">
                    <a><span>Food & Drink </span></a><p>26 Interested</p>
                </div>
            </div>
            </div> <!-- /.col-lg-4 --> 
      </div><!--end of post main-->
        <div class="text-center">
            <div class="btn-group">
                <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
                <button class="btn btn-white">1</button>
                <button class="btn btn-white  active">2</button>
                <button class="btn btn-white">3</button>
                <button class="btn btn-white">4</button>
                <button class="btn btn-white">5</button>
                <button class="btn btn-white">6</button>
                <button class="btn btn-white">7</button>
                <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> </button>
            </div>
         </div>
    </div>
</div><!--end-of-box-left-->
   <!--right-->
<div class="boxIn_rit">
  <div class="box_hed">
      <p>Browse Events</p>
      <a href="#">Show All</a>
  </div><!--box_hed-->

    <a href="#" class="accordList">
        <img class="ac1" src="../../../assets/img/Box_1.png">
        <img class="ac2" src="../../../assets/img/Box_11.png">
        Festivals & Fairs
    </a>
    <a href="#" class="accordList">
            <img class="ac1" src="../../../assets/img/Box_2.png">
            <img class="ac2" src="../../../assets/img/Box_2.png">
            Food & Drink
    </a>
    <a href="#" class="accordList">
            <img class="ac1" src="../../../assets/img/Box_3.png">
            <img class="ac2" src="../../../assets/img/Box_33.png">
            Night Life
    </a>
    <a href="#" class="accordList">
            <img class="ac1" src="../../../assets/img/Box_4.png">
            <img class="ac2" src="../../../assets/img/Box_44.png">
            Music
    </a>
    <a href="#" class="accordList">
            <img class="ac1" src="../../../assets/img/Box_5.png">
            <img class="ac2" src="../../../assets/img/Box_55.png">
            Performing Art
    </a>
    <a href="#" class="accordList">
            <img class="ac1" src="../../../assets/img/Box_6.png">
            <img class="ac2" src="../../../assets/img/Box_66.png">
            Visual Arts &amp; Entertainment
    </a>
    <a href="#" class="accordList">
            <img class="ac1" src="../../../assets/img/Box_7.png">
            <img class="ac2" src="../../../assets/img/Box_77.png">
            Official Shaful Events 
    </a>
    <a href="#" class="accordList">

          ..view all 
    </a>


</div>
                        <!--end ryt-->                       
<!--end of contents-->