 .dating-profile-container {
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.dating-profile-container h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}
.dating-profile-container>h4 {
    float: left;
}
.profile-picture.profile-info {
    float: left;
}
.user-picture{
    float: left;
    width: 20%;
    padding: 0 15px;
}
.update-profile-form{
    float: left;
    width: 100%;
    padding: 0 15px;
}
.update-profile-form .form-group{
    float: left;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
}
.update-profile-form .form-group label{
    text-align: left;
    margin-bottom: 15px;
}
.update-profile-form .form-group.full-length{
    width: 100%;
}
.update-profile-form .form-group .input-group{
    padding: 0 15px;
}
.update-profile-form form{
    float: left;
    width: 100%;
    padding-bottom: 25px;
}
.update-profile-form .update-submit{
    padding-right: 15px;
}
.update-profile-form .update-submit button{
    width: auto;
    padding: 1px 15px;
}
.update-profile-form .update-submit button:focus{
    outline: none;
}
.update-profile-form input, .update-profile-form select{
    height: 43px;
}
.update-profile-form input:focus, .update-profile-form select:focus{
    box-shadow: none;
}
/*--*/
.edit-photo {
    padding: 6px 10px;
    border-radius: 3px;
    font-size: 14px;
    float: left;
    margin-left: 0px;
    margin-top: 10px;
}