<div class="answer-question">
  <div class="w100 head">
    <h4>The questions you would like to answer.....</h4>
  </div>
  <div class="postMList stppd">
      <div class="drop2poz">
          <div class="Drop2">
              <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                  Action  <i class="fa fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu js-status-update pull-right">
                  <li>
                      <a id="answer">Answer</a>
                  </li>
              </ul>
          </div>  
      </div>  
      <p>Asked-<span>20 Days Ago at 1-1-2017 at 13:01</span></p> 
      <h3>erros on angular cli installation list lazzy routes!</h3>  
      <div class="postMList6 slinsot">
          <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
          <p>Jon snow</p>
          <p>90 Follows</p> 
      </div>                        
  </div>
  <div class="postMList stppd">
      <div class="drop2poz">
          <div class="Drop2">
              <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                  Action  <i class="fa fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu js-status-update pull-right">
                  <li>
                      <a id="answer">Answer</a>
                  </li>
              </ul>
          </div>  
      </div>  
      <p>Asked-<span>20 Days Ago at 1-1-2017 at 13:01</span></p> 
      <h3>erros on angular cli installation list lazzy routes!</h3>  
      <div class="postMList6 slinsot">
          <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
          <p>Jon snow</p>
          <p>90 Follows</p> 
      </div>                        
  </div>
  <div class="postMList stppd">
      <div class="drop2poz">
          <div class="Drop2">
              <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                  Action  <i class="fa fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu js-status-update pull-right">
                  <li>
                      <a id="answer">Answer</a>
                  </li>
              </ul>
          </div>  
      </div>  
      <p>Asked-<span>20 Days Ago at 1-1-2017 at 13:01</span></p> 
      <h3>erros on angular cli installation list lazzy routes!</h3>  
      <div class="postMList6 slinsot">
          <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
          <p>Jon snow</p>
          <p>90 Follows</p> 
      </div>                        
  </div>
  <div class="postMList stppd">
      <div class="drop2poz">
          <div class="Drop2">
              <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                  Action  <i class="fa fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu js-status-update pull-right">
                  <li>
                      <a id="answer">Answer</a>
                  </li>
              </ul>
          </div>  
      </div>  
      <p>Asked-<span>20 Days Ago at 1-1-2017 at 13:01</span></p> 
      <h3>erros on angular cli installation list lazzy routes!</h3>  
      <div class="postMList6 slinsot">
          <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
          <p>Jon snow</p>
          <p>90 Follows</p> 
      </div>                        
  </div>
  <div class="postMList stppd">
      <div class="drop2poz">
          <div class="Drop2">
              <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                  Action  <i class="fa fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu js-status-update pull-right">
                  <li>
                      <a id="answer">Answer</a>
                  </li>
              </ul>
          </div>  
      </div>  
      <p>Asked-<span>20 Days Ago at 1-1-2017 at 13:01</span></p> 
      <h3>erros on angular cli installation list lazzy routes!</h3>  
      <div class="postMList6 slinsot">
          <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div>                
          <p>Jon snow</p>
          <p>90 Follows</p> 
      </div>                        
  </div>
  <div class="w100 text-center more">
    <a>
      <img src="../../../assets/img/more.png">
    </a>
  </div>
</div>