.search-result{
  float: left;
  width: 100%;
  background: #fff;
  border: 1px solid #333;
  position: absolute;
  top: 40px;
}
i{
  background: 0 0;
    border: none;
    color: #a4a5a9;
    font-size: 17px;
    height: 30px;
    position: absolute;
    left: 12px;
    top: 6px;
    width: 30px;
    z-index: 2;
}
