<div class="single-ques-detail">
    <div class="postMList stppd">  
        <h3>erros on angular cli installation list lazzy routes!</h3>
        <div class="ques-detail">
            <ul>
                <li>Follow 74</li>
                <li>Comments 1+</li>
            </ul>
            <p>100+ Answers</p>
        </div>                        
    </div>
    <div class="postMList stppd">
        <div class="postMList6 slinsot answer-list">
            <div class="boxPic6">
                <img src="../../../assets/img/user3.jpg">
            </div>                 
            <h4>Slurp Ramen <span>JS developer</span></h4> 
            <p>Written on Jan 24</p>                    
        </div>
        <div class="answer-here">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p class="tags-here">7k views</p>
        </div>
    </div>
    <div class="postMList stppd">
        <div class="postMList6 slinsot answer-list">
            <div class="boxPic6">
                <img src="../../../assets/img/user3.jpg">
            </div>                 
            <h4>Slurp Ramen <span>JS developer</span></h4> 
            <p>Written on Jan 24</p>                    
        </div>
        <div class="answer-here">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p class="tags-here">7k views</p>
        </div>
    </div>
    <div class="postMList stppd">
        <div class="postMList6 slinsot answer-list">
            <div class="boxPic6">
                <img src="../../../assets/img/user3.jpg">
            </div>                 
            <h4>Slurp Ramen <span>JS developer</span></h4> 
            <p>Written on Jan 24</p>                    
        </div>
        <div class="answer-here">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p class="tags-here">7k views</p>
        </div>
    </div>
    <div class="postMList stppd">
        <div class="postMList6 slinsot answer-list">
            <div class="boxPic6">
                <img src="../../../assets/img/user3.jpg">
            </div>                 
            <h4>Slurp Ramen <span>JS developer</span></h4> 
            <p>Written on Jan 24</p>                    
        </div>
        <div class="answer-here">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p class="tags-here">7k views</p>
        </div>
    </div>
    <div class="postMList stppd">
        <div class="postMList6 slinsot answer-list">
            <div class="boxPic6">
                <img src="../../../assets/img/user3.jpg">
            </div>                 
            <h4>Slurp Ramen <span>JS developer</span></h4> 
            <p>Written on Jan 24</p>                    
        </div>
        <div class="answer-here">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p class="tags-here">7k views</p>
        </div>
    </div>
    <div class="w100 text-center more">
        <a>
            <img src="../../../assets/img/more.png">
        </a>
    </div>
</div>
