<!--start-review-content-->
<div class="w100">
    <h1>Your First Review is AWaits</h1>
    <div class="w100 pull-right">
        <p>Review your favorite businesses and share your experiences with our community. Need a little help getting started? <span>Check out these tips.</span></p>                                                          
    </div>
</div>
<div calss="w100">
    <div class="box_mess2">
        <div class="col-lg-12">
            <div class="form-group input-group">
                <span class="input-group-addon">Find</span>
                <input type="text" class="form-control " placeholder="Resturent, Cheap dinner, Max's'">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Near</span>
                <input type="text" class="form-control" placeholder="Area, Place">
            </div>                            
            
                <input class="postBTN fr" type="button" value="Find">                 
                                    
        </div><!--textarePost-->                  
    </div>
</div>
<hr>
<div class="w100">
    <div class="col-lg-5">
        <div class="panel panel-danger">
        <div class="panel-body">
                <div class="w100 store"><a href="#"><img src="img/Ads.png"></a>
                </div>
                <hr>
                <h4><a><span>Brenda's French Soul Food</span></a></h4>
                <h5 class="fa fa-group"> Have You Been here ?</h5>
            </div>
            <div class="panel-footer">
                <a><i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                </a><p>Select Rating To Get Start</p>
            </div>
    </div>
    </div> <!-- /.col-lg-4 --> 
        <div class="col-lg-5">
            <div class="panel panel-danger">
            <div class="panel-body">
                    <div class="w100 store"><a href="#"><img src="img/Ads.png"></a>
                    </div>
                    <hr>
                    <h4><a><span>Liholiho Yacht Club</span></a></h4>
                    <h5 class="fa fa-group"> Have You Been here ?</h5>
                </div>
                <div class="panel-footer">
                    <a><i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    </a><p>Select Rating To Get Start</p>
                </div>
        </div>
        </div> <!-- /.col-lg-4 --> 
</div><!--end of w100-->
<div class="w100 text-center">
<a class="fa fa-chevron-down"> Show more suggestions</a>
</div>
<!--end of contents-->