<div class="ask-question">
  <div class="boxIn_lft">
    <div class="w100">
      <div class="box_mess2">
          <div class="w100">
            <div class="form-group search-question">
              <input class="textinput fl w form-control" type="text" placeholder="Ask or Search">                          
            </div>
              <div class="w100 question-btn">
                  <button class="postBTN stBTN fl" type="button">Ask Questions</button>                                                          
              </div>                        
          </div><!--textarePost-->                  
      </div><!--box_mess-->
      <div class="interested w100">
          <h3>Top stories for you</h3>
          <p>Set up your jobs preferences <span>so we can recommend the right jobs to you.</span></p>
      </div><!--interested-->
      <div class="postMain w100">
          <div class="postMList stppd">
              <div class="drop2poz">
                  <div class="Drop2">
                  </div>  
              </div> <!--drop2poz--> 
              <p>John Doe shared photo.</p> 
              <h3>Learn how to design a great User Experience on a mobile device. Course 91% BOOKED!</h3>  
              <div class="postMList6 slinsot">
                  <div class="boxPic6"><img src="../../../assets/img/user3.jpg" class="img-responsive"></div><!--boxPic-->                 
                  <h3><span>wrote a review for</span>Slurp Ramen</h3> 
                  <p>90.7k Views</p>                    
              </div>                        
              <div class="w100"><img src="../../../assets/img/pic_1.jpg" class="img-responsive"></div>
              <p>A few months ago I quit my job, I decided to pursue something I was passionate about. So, instead of hiring people within the IT digital space I decided. <a> show more</a></p>
          </div><!--postMList-->     
          <div class="postMList stppd">
              <p>John Doe shared photo.</p> 
              <h3 (click)="gotoSingle()">Learn how to design a great User Experience on a mobile device. Course 91% BOOKED!</h3>  
              <div class="postMList6 slinsot">
                  <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div><!--boxPic-->                 
                  <h3><span>wrote a review for</span>Slurp Ramen</h3> 
                  <p>90.7k Views</p>                    
              </div>                        
          </div><!--postMList-->
          <div class="postMList stppd">
              <p>John Doe shared photo.</p> 
              <h3>Learn how to design a great User Experience on a mobile device. Course 91% BOOKED!</h3>  
              <div class="postMList6 slinsot">
                  <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div><!--boxPic-->                 
                  <h3><span>wrote a review for</span>Slurp Ramen</h3> 
                  <p>90.7k Views</p>                    
              </div>                        
          </div><!--postMList-->
          <div class="postMList stppd">
              <p>John Doe shared photo.</p> 
              <h3>Learn how to design a great User Experience on a mobile device. Course 91% BOOKED!</h3>  
              <div class="postMList6 slinsot">
                  <div class="boxPic6"><img src="../../../assets/img/user3.jpg"></div><!--boxPic-->                 
                  <h3><span>wrote a review for</span>Slurp Ramen</h3> 
                  <p>90.7k Views</p>                    
              </div>                        
          </div><!--postMList-->              
          <div class="w100 text-center more"><a href="#"><img src="../../../assets/img/more.png"></a></div>                       
      </div><!--postMain-->
    </div>
  </div>
  <div class="boxIn_rit">
    <div class="box_hed">
        <p>Recommended</p>
        <a>Show All</a>
    </div><!--box_hed-->
    <div class="reportHed">
        <div class="reportList">
            <p>January 2016 Report
                <img class="ic1" src="../../../assets/img/News-Icon.png">
                <img class="ic2" src="../../../assets/img/back.png">
            </p>
            <span>Point of Sale hardware, the till at a shop check out, has become very complex over the past...</span>
        </div><!--reportList-->
        <div class="reportList">
            <p>January 2016 Report
                <img class="ic1" src="../../../assets/img/News-Icon.png">
                <img class="ic2" src="../../../assets/img/back.png">
            </p>
            <span>Point of Sale hardware, the till at a shop check out, has become very complex over the past...</span>                   
        </div><!--reportList--> 
        <div class="reportList">
            <p>January 2016 Report
                <img class="ic1" src="../../../assets/img/News-Icon.png">
                <img class="ic2" src="../../../assets/img/back.png">
            </p>
            <span>Point of Sale hardware, the till at a shop check out, has become very complex over the past...</span>                   
        </div><!--reportList--> 
        <div class="w100 addz">
            <p>Ads</p> 
            <div class="ADDList">
                <img src="../../../assets/img/add_pic_1.jpg">
                <div class="adJoin">
                    <h3>India Startups Advice</h3>                    
                    <span>5,900 members</span>
                    <a><i class="fa fa-plus"></i>Join</a>
                </div><!--adJoin-->
            </div><!--ADDList-->
            <div class="ADDList">
                <img src="../../../assets/img/add_pic_1.jpg">
                <div class="adJoin">
                    <h3>India Startups Advice</h3>                    
                    <span>5,900 members</span>
                    <a><i class="fa fa-plus"></i>Join</a>
                </div><!--adJoin-->
            </div><!--ADDList-->
            <div class="w100 store">
                <a>
                    <img src="../../../assets/img/Ads.png">
                </a>
            </div>           
        </div><!--addz-->        
    </div><!--reportHed-->
  </div><!--boxIn_rit-->
</div>