li{
  float: left;
  margin-bottom: -1px;
  margin-right: 4%;
}
li.active a span{
  background: none;
  border: 1px solid transparent;
  box-shadow: none;
  color: #d32a47;
  cursor: pointer;
}
li a{
  font-family: 'AvenirNextLTPro-Demi';
  font-size: 13px;
  text-transform: uppercase;
  padding: 9px 5px;
  cursor: pointer;
  float: left;
}
li.active a .Ione{
  display: none;
}
li.active a .Itwo{
  display: inline-block;
}
li a .Ione{
  display: inline-block;
}
li a .Itwo{
  display: none;
}
li a img{
  margin-right: 14px;
  margin-top: -1px;
}
li a span{
  color: #333;
  float: left;
}
li a:hover{
  text-decoration: none;
}
