#myTab{
  margin-bottom: 15px;
}
ul{
  border: none;
}
li.active a{
  background: inherit;
  border: none;
}
li a{
  border: none;
}
li a:hover, li a:active{
  background: inherit;
  border: none;
}
li:hover{
  margin-bottom: -1px;
}
li{
  margin-right: 4%;
}
li a{
  box-shadow: none;
  color: #333;
  cursor: pointer;
  font-family: 'AvenirNextLTPro-Demi';
  font-size: 13px;
  text-transform: uppercase;
  padding: 9px 5px;
}
li.active a{
  color: #d32a47;
}
