
<div calss="w100">
    <div class="box_mess2">
        <div class="col-lg-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Find</span>
                <input type="text" class="form-control " placeholder="Resturent, Cheap dinner, Max's'">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group input-group">
                <span class="input-group-addon">Near</span>
                <input type="text" class="form-control" placeholder="Area, Place">
            </div>                                                                      
          </div>
          <div class="col-lg-2">
            <input class="postBTN fr" type="button" value="Search">
          </div>
                    <div class="reviewtxt w100 row row-centered">
                      <ul class="list-inline">
                          <li>
                              <a data-toggle="tab" href="#s1">
                              <span class="">Resturents</span>
                              </a>
                          </li>
                          <li>
                              <a data-toggle="tab" href="#s1">
                              <span class="">Nightlife</span>
                              </a>
                          </li>
                          <li>
                              <a data-toggle="tab" href="#s1">
                              <span class="">Home Service </span>
                              </a>
                          </li>
                          <li>
                              <a data-toggle="tab" href="#s1">
                              <span class="">Delievery</span>
                              </a>
                          </li>
                      </ul>
                      </div>
    <!---->
    <div class="postMain w100 col-lg-12">
      <h1>Hot and new Business</h1>
          <div class="col-lg-4">
              <div class="panel panel-danger"> 
                  <div class="panel-body ">
                    <a href="#"><img class="pe-img" src="../../../assets/img/pe1.png"></a>
                      <hr>
                      <h3>The Halal Guys</h3>
                      <hr>
                      <a><i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      </a><span>Select Rating To Get Start</span>
                      
                      <h5 class="fa fa-dollar"><a><span>Spark Social SF -</span></a>- San Francisco</h5>
                      <h5 class="fa fa-fire"> Oppened Few days ago</h5>
                        
                    </div>
              </div>
            </div> <!-- /.col-lg-5 --> 
             <div class="col-lg-4">
              <div class="panel panel-danger"> 
                  <div class="panel-body ">
                    <a href="#"><img class="pe-img" src="../../../assets/img/pe1.png"></a>
                      <hr>
                      <h3>Bota Tapes & Paella bar </h3>
                      <hr>
                      <a><i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      </a><span>Select Rating To Get Start</span>
                      
                      <h5 class="fa fa-dollar"><a><span>Spark Social SF -</span></a>- San Francisco</h5>
                      <h5 class="fa fa-fire"> Oppened Few days ago</h5>
                        
                    </div>
              </div>
            </div> <!-- /.col-lg-5 -->
            <div class="col-lg-4">
              <div class="panel panel-danger"> 
                  <div class="panel-body ">
                    <a href="#"><img class="pe-img" src="../../../assets/img/pe1.png"></a>
                      <hr>
                      <h3>Bar Fluxes</h3>
                      <hr>
                      <a><i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      </a><span>Select Rating To Get Start</span>
                      
                      <h5 class="fa fa-dollar"><a><span>Spark Social SF -</span></a>- San Francisco</h5>
                      <h5 class="fa fa-fire"> Oppened 5 weeks ago</h5>
                        
                    </div>
              </div>
            </div> <!-- /.col-lg-5 -->
    </div>
    <!---->
    
    <div class="text-center">
            <div class="btn-group">
                <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
                <button class="btn btn-white">1</button>
                <button class="btn btn-white  active">2</button>
                <button class="btn btn-white">3</button>
                <button class="btn btn-white">4</button>
                <button class="btn btn-white">5</button>
                <button class="btn btn-white">6</button>
                <button class="btn btn-white">7</button>
                <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> </button>
            </div>
         </div>
    </div><!--end of box mess-->
</div><!--end of w100-->