
 <div class="boxIn_lft">
        <div class="w100">
        	<div class="drop2poz">
                <div class="Drop2">
                    <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                        more <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu js-status-update pull-right">
                        <li>
                            <a href="javascript:void(0);" id="mt">Month</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="ag">Agenda</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="td">Today</a>
                        </li>
                    </ul>
                </div>  
            </div>                                              
        </div><!--w100-->
        <div class="reviewPortion w100">
        	<div class="reviewtxt w100"><p>Best of MegaSocio<span>Honolulu</span></p></div><!--reviewtxt-->
        </div><!--reviewPortion-->
        <div class="w100 dtable bb">
            <div class="accord">
                <a href="#" class="accordList active">
                    <img class="ac1" src="img/Box_1.png">
                    <img class="ac2" src="img/Box_11.png">
                    Food
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_2.png">
                        <img class="ac2" src="img/Box_2.png">
                        Nightlife
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_3.png">
                        <img class="ac2" src="img/Box_33.png">
                        Restaurants
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_4.png">
                        <img class="ac2" src="img/Box_44.png">
                        Shopping
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_5.png">
                        <img class="ac2" src="img/Box_55.png">
                        Active Life
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_6.png">
                        <img class="ac2" src="img/Box_66.png">
                        Arts & Entertainment
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_7.png">
                        <img class="ac2" src="img/Box_77.png">
                        Automotive
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_8.png">
                        <img class="ac2" src="img/Box_88.png">
                        Beauty & Spa
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_9.png">
                        <img class="ac2" src="img/Box_99.png">
                        Education
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_010.png">
                        <img class="ac2" src="img/Box_0100.png">
                        Event Planning
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_011.png">
                        <img class="ac2" src="img/Box_0111.png">
                        Health & Medical
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_012.png">
                        <img class="ac2" src="img/Box_0122.png">
                        Home Services
                </a>
                <a href="#" class="accordList">
                        <img class="ac1" src="img/Box_013.png">
                        <img class="ac2" src="img/Box_0133.png">
                        Local Services
                </a>
            </div><!--accord-->
            <div class="acordRit">
            	<div class="reviewtxtt w100"><p>Food</p><span>more</span></div><!--reviewtxt-->
                <div class="boxes_indents">
					<div class="indents">
                    	<a href="#"><img src="img/user.jpg"></a>
                        <p>Uncle Clays House of Pure Aloha</p>
                        <span>907 Reviews</span>
                        <div class="indents2">
                            <a href="#"><img src="img/user.jpg"></a>
                            <p>Strawberry and lihing mui with li hing powder and dream sauce.</p>
                        </div><!--indents--> 
                    </div><!--indents-->                
                </div><!--boxes_indents-->
                <div class="boxes_indents">
					<div class="indents">
                    	<a href="#"><img src="img/user.jpg"></a>
                        <p>Uncle Clays House of Pure Aloha</p>
                        <span>907 Reviews</span>
                        <div class="indents2">
                            <a href="#"><img src="img/user.jpg"></a>
                            <p>Strawberry and lihing mui with li hing powder and dream sauce.</p>
                        </div><!--indents--> 
                    </div><!--indents-->                
                </div><!--boxes_indents-->
                <div class="boxes_indents">
					<div class="indents">
                    	<a href="#"><img src="img/user.jpg"></a>
                        <p>Uncle Clays House of Pure Aloha</p>
                        <span>907 Reviews</span>
                        <div class="indents2">
                            <a href="#"><img src="img/user.jpg"></a>
                            <p>Strawberry and lihing mui with li hing powder and dream sauce.</p>
                        </div><!--indents--> 
                    </div><!--indents-->                
                </div><!--boxes_indents-->
                <div class="w100 text-center more arBrd"><a href="#"><img src="img/more.png"></a></div>
            </div><!--acordRit-->
        </div><!--w100-->
        <div class="w100 recent">Recent Activity</div><!--w100-->
        <div class="postMain w100">
        	<div class="ListHold w100">
                <div class="postMList6">
                    <div class="boxPic6"><img src="img/user3.jpg"></div><!--boxPic-->
                    <div class="drop2poz">
                        <div class="Drop2">
                            <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                                Posted 08 Days Ago 
                            </button>
                        </div>  
                    </div> <!--drop2poz-->                       	
                    <h3>Joyce C. <span>wrote a review for</span>Slurp Ramen</h3> 
                    <p><img src="img/eart_icon.png">22K</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>                    	
                </div><!--postMList3-->                	
                <div class="w100 mLs">
                    <p>Located on Kapiolani Blvd. next to CPB and MW restaurant.  They share parking with them there is limited parking.  However, I've never had to wait too long to get a stall...<a href="#"><span>read more</span></a></p>
                    <p>Was this review …?</p>
                    <div class="w100">
                        <input class="postBTN stBTN fl" type="button" value="useful">
                        <input class="postBTN stBTN fl" type="button" value="funny">
                        <input class="postBTN stBTN fl" type="button" value="cool">
                    </div>
                </div><!--w100-->
            </div><!--ListHold-->
            <div class="ListHold w100">
                <div class="postMList6">
                    <div class="boxPic6"><img src="img/user3.jpg"></div><!--boxPic-->
                    <div class="drop2poz">
                        <div class="Drop2">
                            <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                                Posted 08 Days Ago 
                            </button>
                        </div>  
                    </div> <!--drop2poz-->                       	
                    <h3>Joyce C. <span>wrote a review for</span>Slurp Ramen</h3> 
                    <p><img src="img/eart_icon.png">22K</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>                    	
                </div><!--postMList3-->                	
                <div class="w100 mLs">
                    <p>Located on Kapiolani Blvd. next to CPB and MW restaurant.  They share parking with them there is limited parking.  However, I've never had to wait too long to get a stall...<a href="#"><span>read more</span></a></p>
                    <p>Was this review …?</p>
                    <div class="w100">
                        <input class="postBTN stBTN fl" type="button" value="useful">
                        <input class="postBTN stBTN fl" type="button" value="funny">
                        <input class="postBTN stBTN fl" type="button" value="cool">
                    </div>
                </div><!--w100-->
            </div><!--ListHold-->
            <div class="w100 text-center more"><a href="#"><img src="img/more.png"></a></div>                       
        </div>
    </div><!--boxIn_lft-->
    <div class="boxIn_rit">
    	<div class="box_hed">
        	<p>Featured Dating</p>
        	<a href="#">Show All</a>
        </div><!--box_hed-->
        <div class="reportHed">
			<div class="ListHold w100 stdiv">
                <div class="postMList6 stpdd">
                    <div class="boxPic6"><img src="img/user3.jpg"></div><!--boxPic-->                     	
                    <h3>Joyce C. <span>wrote a review for</span>Slurp Ramen</h3> 
                    <p><img src="img/eart_icon.png">22K</p>                   	
                </div><!--postMList3-->                	
                <div class="w100 mLs">
                    <p>Have you ever had those ramen cravings?  But you know there's nothing good in San Francisco, so you browse Yelp hoping that new…</p>
                </div><!--w100-->
                <div class="w100 fotnot">
                    <p>Archive</p>
                    <span>Read more</span>
                </div><!--w100-->
            </div><!--ListHold-->
            <div class="ListHold w100 stdiv">
                <div class="postMList6 stpdd">
                    <div class="boxPic6"><img src="img/user3.jpg"></div><!--boxPic-->                     	
                    <h3>Joyce C. <span>wrote a review for</span>Slurp Ramen</h3> 
                    <p><img src="img/eart_icon.png">22K</p>                   	
                </div><!--postMList3-->                	
                <div class="w100 mLs">
                    <p>Have you ever had those ramen cravings?  But you know there's nothing good in San Francisco, so you browse Yelp hoping that new…</p>
                </div><!--w100-->
                <div class="w100 fotnot">
                    <p>Archive</p>
                    <span>Read more</span>
                </div><!--w100-->
            </div><!--ListHold-->
            <div class="w100 addz mrg0">
				<p>Ads</p> 
                <div class="ADDList">
                	<img src="img/add_pic_1.jpg">
                    <div class="adJoin">
						<h3>India Startups Advice</h3>                    
                        <span>5,900 members</span>
                        <a href="#"><i class="fa fa-plus"></i>Join</a>
                    </div><!--adJoin-->
                </div><!--ADDList-->
                <div class="ADDList">
                	<img src="img/add_pic_1.jpg">
                    <div class="adJoin">
						<h3>India Startups Advice</h3>                    
                        <span>5,900 members</span>
                        <a href="#"><i class="fa fa-plus"></i>Join</a>
                    </div><!--adJoin-->
                </div><!--ADDList-->
                <div class="w100 store"><a href="#"><img src="img/Ads.png"></a></div>           
            </div><!--addz-->        
        </div><!--reportHed-->
    </div><!--boxIn_rit-->
